@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* header有1px的border */
    --header-height: calc(3.5rem + 1px);
  }
}
@layer components {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-h {
    height: calc(100vh - var(--header-height));
  }
}
