@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* header有1px的border */
    --header-height: calc(3.5rem + 1px);
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #337696 30%,
      #6d0fe9
    );
    --vp-home-hero-name-color: transparent;
  }
}
@layer components {
  /* 绝对居中 */
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* 除去Header的内容高度 */
  .main-h {
    height: calc(100vh - var(--header-height));
  }
  /** flex布局横向全居中 */
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-clip {
    background: var(--vp-home-hero-name-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: var(--vp-home-hero-name-color);
  }
}
